<a href="https://colab.research.google.com/github/nalderto/POL300-Public/blob/master/modules/module-4/module-4-exercise/module-4-exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Module 4: Organizing Data with Pandas

For this activity, you are going to learn how to manage data with Pandas.  There are going to be a few exercises following each of the different topic sections.  

You will be graded on your code's ability to complete the task described.  All the exercises have test cases to check the functionality of your code.  Make sure the test cases print `OK`.  This means that your code is working fine.  If it doesn't print `OK`, it will tell you which test case is failing.  

To submit this notebook to Gradescope, reference the instructions in the module 1 activity or the "Getting Started with Google Colab" guide on Brightspace.

If you are having trouble, don't get discouraged.  Read through the section again.  If you are still having trouble, try to Google around.  There are **TONS** of good online Python resources.  If Google is not being helpful, reach out via the Brightspace Discussion Board.  



---

## Introduction to Pandas

In earlier modules, we discussed using lists and dictionaries to organize data.  These two data structures are perfectly fine for many purposes \(especially because they are built into Python\), however they have their limitations.  This is where Pandas comes in.

Pandas is yet another Python library.  It is used to manage tabular data (which lists and dictionaries don't manage particularly well).  Tabular data is just data that can be organized in a table, like an Excel spreadsheet.  We need to be able to manage tabular data in Python, since we are going to export data into Stata using CSV \(comma-separated values\) files.  

## Importing Pandas

```python
import pandas as pd
```

Importing Pandas is just as simple as importing any other Python module.  However, you'll notice that we append `as pd` at the end.  All this does is allow us to type `pd` instead of `pandas` every time we want to use a pandas function.  The `as` keyword simply allows a module name to be callable by another word \(usually a shorter word\).

## Creating Data Frames

### Creating an Empty Data Frame

```python
df = pd.DataFrame()
```

A data frame is just another word for a table.  We can use the code above to create an empty data frame.  If we want to add column names to the data frame, we specify between the parentheses.  Continuing with the campaign contributions data from the last module, we would use this line to create our respective column names.

```python
df = pd.DataFrame(columns=["Year", "State", "Body", "Seat", "Amount", "Candidates", "Average"])
```

There are several other optional arguments that we could add to the `DataFrame()`function.  These arguments are all detailed in the [Pandas API Documents.](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.html)

### Creating a Data Frame from an HTML table

This is where Pandas really comes in handy.  If you recall, we were able to extract a table from the Ballotpedia website, however the data was not completely organized yet.  When we printed out the data, we could still see the HTML table tags from the website.  Fortunately, Pandas can take an HTML table and create a data frame from it.

```python
df = pd.read_html(str(table), header=1, index_col=False)[0]
```

Let's break down the various parts of this line of code.  
* `str()` converts a variable into a string.  We need to do this because the `table` variable that we got earlier from Beautiful Soup is a Beautiful Soup object.  We need it to be a string so Pandas can parse the html.  
* If you look back the the campaign contributions table on Ballotpedia, you'll notice that the first row in the table is actually the title.  For example, "Campaign contributions, Indiana House of Representatives District 1" is the first row.  When we convert this table into a data frame, we need to get rid of this title.  Luckily, with the line `header=1`, we start with index 1 of the table (remember that we start counting with 0 in Python).  Therefore, the more appropriate header would be the column titles of "Year", "Amount", "Candidates", and "Average".  
* By default, `read_html` will make the first column an "index column."  Essentially, the number in this column would correspond with the index of the respective row.  While it might be useful in some cases, we want to exclude it, since we are going to append data frames in the module 4 project.  To disable the index column, we simply include the `index_col=False` parameter.
* `pd.read_html` returns a list of tables.  If we were to pass in an HTML document with multiple HTML tables, pandas will return a list of a data frames for each of the tables.  This is the reason why we put an `[0]` at the end of the function call.  It allows us to obtain the first table that was contained in the HTML.

### Creating a Data Frame from a CSV File
Comma-separated values (CSV) files are simple text files are that used to store data.  Many programs like Microsoft Excel, Google Sheets, Python, and Stata will read CSV files.  This makes them super handy for transferring data from one piece of software to another.  

You can use Pandas to import a CSV file directly into a data frame using the following line of code:

```python
df = pd.read_csv("file.csv")
```

This line would only work if the CSV file is in the same directory as your Python file or notebook.  Alternatively, you can pass in a website URL directly, as can be seen below.

```python
df = pd.read_csv("https://www.stat.purdue.edu/scs/docs/Cars.csv")
```

## Exercise 1
Remember the complicated procedure we had to go through to import a CSV file in the module 2 project?  We promised that there was an easier way to import a CSV using Pandas.  For this exercise, we are going to import the same campaign spending CSV file into a Pandas data frame.

1. Create a Pandas data frame from the Brookings Institute campaign spending CSV file (the URL is provided in the function).
2. Return the campaign spending data frame using the **return** keyword.

**Hint: You only need to add one or two lines of code for this exercise**

In [ ]:
import pandas as pd

def get_campaign_spending_data():
    
    url = "https://www.brookings.edu/wp-content/uploads/2017/01/vitalstats_ch3_tbl1.csv"
    
    # Type your code here
    
    
    
    

# IGNORE BELOW
# Test Cases
import unittest 
  
class TestCases(unittest.TestCase):  
    def test(self):
        df = get_campaign_spending_data()
        print(df)
        
        self.assertTrue(df.iloc[1,2] == 1516021)
        self.assertTrue(df.iloc[18,2] == 10464068)
        self.assertTrue(df.iloc[14,3] == 813158)
        self.assertTrue(round(df.iloc[28,3], 3) == 6276319.438)
        year = 2018
        for i in range(34):
            if i == 17:
                year = 2018
                
            if i < 17:
                self.assertTrue(df.iloc[i,1] == "House")
            else:
                self.assertTrue(df.iloc[i,1] == "Senate")
                
            self.assertTrue(df.iloc[i,0] == year)
            year -= 2  
        

if __name__ == '__main__': 
    unittest.main(argv=[''], exit=False)

## Adding Column to a Data Frame
We can add a column to a data frame by either specifying a single value or a list.  For instance, this line of code will add a column named `State` with the value `Indiana` for all of the rows.
```python
df["State"] = "Indiana"
```

Alternatively, we could use could use the below line.  It would still create a new column called `State`, however each of the values in the list would be placed in the respective index of the data frame.

```python
df["State"] = ["Ohio", "Illinois", "Michigan"]
```


To elaborate, the first row of the data frame would now have `Ohio` in the `State` column.  The second row would have `Illinois` in the `State` column and the third row has `Michigan`.  **The length of the list must match the numbers of rows in the data frame.  Otherwise, you will get a runtime error like this:**

```python
raise ValueError("Length of values does not match length of index")
```

## Exercise 2

For this exercise, you are going to add a column to a data frame.  The function has a data frame called `df` as a parameter.  Add a column called "founded" with the following values [1869, 1870, 1817], then return the updated data frame.

In [ ]:
import pandas as pd

def add_founded_year(df):
    # Type your code here
    
    
    
    
    
    
# IGNORE BELOW
# Test Cases
import unittest 
  
class TestCases(unittest.TestCase):  
    def test(self):
        df = pd.DataFrame({'name': ['Purdue', 'Ohio State', 'Michigan'], 'nickname': ['Boilermakers', 'Buckeyes', 'Wolverines']})
        new_df = add_founded_year(df)
        self.assertTrue(new_df['name'].equals(df['name']))
        self.assertTrue(new_df['nickname'].equals(df['nickname']))
        self.assertTrue(new_df['founded'].equals(pd.Series([1869, 1870, 1817])))


if __name__ == '__main__': 
    unittest.main(argv=[''], exit=False)

## Appending Data Frames Together
It is sometimes useful to combine multiple data frames together.  For example, if we are aggregating the data of each district's campaign contribution tables, we would want to combine all of these tables together into a single data frame.  This will make it easier to analyze and export the data.

```python
together_df = big_df.append(small_df)
```
This line above will add the rows from the `small_df` to the `big_df`.  Keep in mind that we don't have to create a new variable.  We could have just as easily done this:

```python
big_df = big_df.append(small_df)
```

## Exercise 3

For this function, you are given two data frames.  Return the resulting data frame after you append `df_2` to the end of `df_1`.

In [ ]:
import pandas as pd

def append_df(df_1, df_2):
    # Type your code here
    
    
    
    
    
    
# IGNORE BELOW
# Test Cases
import unittest    
    
class TestCases(unittest.TestCase):  
    def test(self):
        df = pd.DataFrame({'name': ['Purdue', 'Ohio State', 'Michigan', 'Minnesota', 'Wisconsin', 'Illinois'],
                             'nickname': ['Boilermakers', 'Buckeyes', 'Wolverines', 'Golden Gophers', 'Badgers', 'Fighting Illini']})
        new_df = append_df(df[:3], df[3:])
        self.assertTrue(df.equals(new_df))


if __name__ == '__main__': 
    unittest.main(argv=[''], exit=False)

## Indexing a Data Frame

There are several ways to access specific rows and columns using Pandas.  We will show you a few of the ways here.

### Accessing Individuals Cells
You can use the `.iloc` property to access individual values in a Pandas data frame by specifying the associated row and column.  Below, you can see `.iloc` in action with a data set on party unity in Congress.  You can also see a preview of what the data looks like in an Excel spreadsheet.

![Party Unity Data](https://user-images.githubusercontent.com/25762130/90160957-73587f80-dd60-11ea-809d-71dbf4fba130.png)

In [1]:
import pandas as pd

party_unity = pd.read_csv("https://www.brookings.edu/wp-content/uploads/2017/01/vitalstats_ch8_tbl3.csv")
print(party_unity.iloc[3,2])

43.8

As you can see above, we are first creating a data frame using the CSV file's web address.  Then, we use `.iloc` to be able to access an individual row and column in the data frame.  **Notice that we use square brackets instead of parentheses.**  Square brackets are necessary, as they used to index a data structure (just like in lists).  The format is `[row, column]`.  So in the example, we are accessing row 3 and column 2 (remember Python starts counting at 0).  Note that Pandas automatically sets the first row as the column headers.  Therefore, `party_unity.iloc[3,2]` is the Excel equivalent of row 5, column C, as can be seen in the image above.

### Accessing a Single Row
If you want to retrieve an entire row of data, we can still use `iloc`.  However, instead of specifying a row and column, you can provide an individual row index in the square brackets.

In [ ]:
import pandas as pd

party_unity = pd.read_csv("https://www.brookings.edu/wp-content/uploads/2017/01/vitalstats_ch8_tbl3.csv")
print(party_unity.iloc[3])

Year                   1956
Chamber               House
PctPartyUnityVotes     43.8
Name: 3, dtype: object

### Accessing Multiple Rows or Columns
If you want to access multiple rows or columns in the same query, you can use a colon with the `iloc` command.  This uses the following format: `lower:upper` for the bounds.  If you don't provide a lower or upper bound, but still use a colon, it will still use that bound, however it will also include all the columns/rows up to that bound.

In [2]:
import pandas as pd

party_unity = pd.read_csv("https://www.brookings.edu/wp-content/uploads/2017/01/vitalstats_ch8_tbl3.csv")

print("party_unity.iloc[6:]")
print(party_unity.iloc[6:]) # Includes all the rows, starting with row 6

print("\nparty_unity.iloc[:6]")
print(party_unity.iloc[:6]) # Includes rows 0 up to 6 (not inclusive)

print("\nparty_unity.iloc[2:6, :2]")
print(party_unity.iloc[2:6, :2]) # Includes rows 2 through 6 and columns 0 through 2 (not inclusive)

party_unity.iloc[6:]
     Year Chamber  PctPartyUnityVotes
6    1959   House                55.2
7    1960   House                52.7
8    1961   House                50.0
9    1962   House                46.0
10   1963   House                48.7
..    ...     ...                 ...
123  2012  Senate                59.8
124  2013  Senate                69.8
125  2014  Senate                66.7
126  2015  Senate                69.3
127  2016  Senate                46.0

[122 rows x 3 columns]

party_unity.iloc[:6]
   Year Chamber  PctPartyUnityVotes
0  1953   House                52.1
1  1954   House                38.2
2  1955   House                40.8
3  1956   House                43.8
4  1957   House                59.0
5  1958   House                39.8

party_unity.iloc[2:6, :2]
   Year Chamber
2  1955   House
3  1956   House
4  1957   House
5  1958   House

### Accessing Individual Columns
If you want to retrieve a column with all the rows, you can do so using the colon syntax you learned above.  All you have to do is use no bounds when you are specifying which rows to include.  Then, you can specify the individual column you want to access.

Additionally, since the CSV file we have been using has column names, we can use the "dictionary" notation with square brackets to index an individual column.  

Finally, we can index the respective columns with the "dot notation".  We type the name of the data frame, a period, and then the name of the column.

Any of these options will work perfectly fine!  It is up to your personal preferences.

In [ ]:
import pandas as pd

party_unity = pd.read_csv("https://www.brookings.edu/wp-content/uploads/2017/01/vitalstats_ch8_tbl3.csv")

print("Column 1 with colon noation")
print(party_unity.iloc[: , 1]) # Only returns the Chamber column (column 1) with all the rows 

print("\nChamber column with square bracket noation")
print(party_unity['Chamber']) # Using dictionary notation with the "Chamber" column name

print("\nYear column with dot noation")
print(party_unity.Year) # Using dot notation with the "Year" column name

Column 1 with colon noation
0       House
1       House
2       House
3       House
4       House
        ...
123    Senate
124    Senate
125    Senate
126    Senate
127    Senate
Name: Chamber, Length: 128, dtype: object

Chamber column with square bracket noation
0       House
1       House
2       House
3       House
4       House
        ...
123    Senate
124    Senate
125    Senate
126    Senate
127    Senate
Name: Chamber, Length: 128, dtype: object

Year column with dot noation
0      1953
1      1954
2      1955
3      1956
4      1957
       ...
123    2012
124    2013
125    2014
126    2015
127    2016
Name: Year, Length: 128, dtype: int64

## Exercise 4
Use the **return** statement to return column 2 with rows 34 through 73 of the `data` data frame.

In [ ]:
import pandas as pd

def return_specific_data(data):
    # Type your code here
    
    
    
    


# IGNORE BELOW
# Test Cases
import unittest    
    
class TestCases(unittest.TestCase):  
    def test(self):
        data = pd.read_csv("https://www.brookings.edu/wp-content/uploads/2017/01/vitalstats_ch8_tbl3.csv")
        new_df = return_specific_data(data)
        for i in range(34, 73):
            self.assertTrue(data.PctPartyUnityVotes[i] == new_df[i])


if __name__ == '__main__': 
    unittest.main(argv=[''], exit=False)

## Doing Some Math
We can easily complete math operations that impact an entire column or row of data.

To demonstrate the some of the math operations that can be done with Pandas, we will be using the well known Fisher's Iris flower data set.  This data set can be found [here](https://raw.githubusercontent.com/mwaskom/seaborn-data/master/iris.csv).

Here is a preview of the data set.

![Iris Data](https://user-images.githubusercontent.com/25762130/90323598-7ce51180-df31-11ea-89c8-66d402a78121.png)

### Addition

Addition can be done by retrieving the data from two columns or rows of data and using a plus sign between them.  You can also assign the result to its own column.

In [3]:
import pandas as pd

iris = pd.read_csv('https://raw.githubusercontent.com/mwaskom/seaborn-data/master/iris.csv')
iris['sepal_width_plus_length'] = iris['sepal_width'] + iris['sepal_length']

print(iris)

     sepal_length  sepal_width  ...    species  sepal_width_plus_length
0             5.1          3.5  ...     setosa                      8.6
1             4.9          3.0  ...     setosa                      7.9
2             4.7          3.2  ...     setosa                      7.9
3             4.6          3.1  ...     setosa                      7.7
4             5.0          3.6  ...     setosa                      8.6
..            ...          ...  ...        ...                      ...
145           6.7          3.0  ...  virginica                      9.7
146           6.3          2.5  ...  virginica                      8.8
147           6.5          3.0  ...  virginica                      9.5
148           6.2          3.4  ...  virginica                      9.6
149           5.9          3.0  ...  virginica                      8.9

[150 rows x 6 columns]

### Subtraction
You can subtract the value of two columns by using the subtraction sign in a similar matter to addition above.

In [4]:
import pandas as pd

iris = pd.read_csv('https://raw.githubusercontent.com/mwaskom/seaborn-data/master/iris.csv')
iris['sepal_petal_length_diff'] = iris['sepal_length'] - iris['petal_length']

print(iris)

     sepal_length  sepal_width  ...    species  sepal_petal_length_diff
0             5.1          3.5  ...     setosa                      3.7
1             4.9          3.0  ...     setosa                      3.5
2             4.7          3.2  ...     setosa                      3.4
3             4.6          3.1  ...     setosa                      3.1
4             5.0          3.6  ...     setosa                      3.6
..            ...          ...  ...        ...                      ...
145           6.7          3.0  ...  virginica                      1.5
146           6.3          2.5  ...  virginica                      1.3
147           6.5          3.0  ...  virginica                      1.3
148           6.2          3.4  ...  virginica                      0.8
149           5.9          3.0  ...  virginica                      0.8

[150 rows x 6 columns]

### Multiplication and Division
You can multiply the value of two columns by using the pound sign (\*).  To divide, use the forward slash (/).  In the example below, we don't assign the result to a new column in the data frame (for demonstration purposes).

In [5]:
import pandas as pd

iris = pd.read_csv('https://raw.githubusercontent.com/mwaskom/seaborn-data/master/iris.csv')
print(iris['sepal_length'] * iris['sepal_width'])
print(iris['sepal_length'] / iris['sepal_width'])

0      17.85
1      14.70
2      15.04
3      14.26
4      18.00
       ...
145    20.10
146    15.75
147    19.50
148    21.08
149    17.70
Length: 150, dtype: float64
0      1.457143
1      1.633333
2      1.468750
3      1.483871
4      1.388889
         ...
145    2.233333
146    2.520000
147    2.166667
148    1.823529
149    1.966667
Length: 150, dtype: float64

### Mean (Average)
Pandas has a function that allows you to quickly calculate the mean in a data frame.  The most important argument you need to know for this function is whether you want to calculate the mean for the rows or the columns.  

If you want to get the mean of the rows, you would specify `axis=0`.  This mean that you would get a mean for each of the column labels.  

If you want to get the mean of the columns (i.e. get the mean for each row label), you would specify `axis=1`.  

If you don't specify an axis, then the default is `axis=0`.

So the example syntax would be:

```python
DataFrame.mean(axis=1)
```

In [ ]:
import pandas as pd

iris = pd.read_csv('https://raw.githubusercontent.com/mwaskom/seaborn-data/master/iris.csv')
print(iris.mean(axis=0))

sepal_length    5.843333
sepal_width     3.057333
petal_length    3.758000
petal_width     1.199333
dtype: float64

### Median, Minimum, Maximum, and Sum

To calculate the median, min, max, and sum, you simply call the corresponding function on the data frame.  Just like the mean function, you can specify the appropriate axis using the `axis=0` or `axis=1` argument.

Another useful argument that can be used for all of these functions (including the `.mean()` function) is `numeric_only=True`.  This argument will only make the respective calculations for the integer, float, or Boolean values, which is useful in the Iris data set, since doing calculations on the species string isn't usually applicable.

We don't have to pass any arguments to these functions, as can be seen in the `.median()` function below.  It defaults to using `axis=0`.

In [ ]:
import pandas as pd

iris = pd.read_csv('https://raw.githubusercontent.com/mwaskom/seaborn-data/master/iris.csv')

print('Median')
print(iris.median()) # Notice we don't pass any arguments; it defaults to axis=0

print('\nMinimum')
print(iris.min(numeric_only=True))

print('\nMaximum')
print(iris.max(numeric_only=True))

print('\nSum')
print(iris.sum(numeric_only=True))

Median
sepal_length    5.80
sepal_width     3.00
petal_length    4.35
petal_width     1.30
dtype: float64

Minimum
sepal_length    4.3
sepal_width     2.0
petal_length    1.0
petal_width     0.1
dtype: float64

Maximum
sepal_length    7.9
sepal_width     4.4
petal_length    6.9
petal_width     2.5
dtype: float64

Sum
sepal_length    876.5
sepal_width     458.6
petal_length    563.7
petal_width     179.9
dtype: float64

### Mode
Mode can be a little bit different, simply because a given attribute could potentially have multiple modes.  With the Iris data set, there are an equal number of "versicolor", "virginica", and "setosa" instances in the "species" attribute.  This means that we have three modes for the "species" attribute.  However, our other column attributes might only have one mode.  As you can see below, when there are fewer modes in another column, then we get `NaN` (not a number).

The mode for each of the columns is:
* **sepal_length**: 5.0
* **sepal_width**: 3.0
* **petal_length**: 1.4 and 1.5
* **petal_width**: 0.2
* **species**: setosa, versicolor, and virginica

In [ ]:
import pandas as pd

iris = pd.read_csv('https://raw.githubusercontent.com/mwaskom/seaborn-data/master/iris.csv')
print(iris.mode())

   sepal_length  sepal_width  petal_length  petal_width     species
0           5.0          3.0           1.4          0.2      setosa
1           NaN          NaN           1.5          NaN  versicolor
2           NaN          NaN           NaN          NaN   virginica

## Descriptive Statistics Function
The `.describe()` function is a quick way to get the count, mean, standard deviation, minimum, 25% quartile, median (50% quartile), 75% quartile, and maximum.

In [ ]:
import pandas as pd

iris = pd.read_csv('https://raw.githubusercontent.com/mwaskom/seaborn-data/master/iris.csv')
print(iris.describe())

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

## Obtain Statistics for an Individual Columns/Rows
So far, we have shown using statistical functions on data frames, but how do we access a statistic for an individual column or row?  There are a couple ways to achieve this.

1. Calculate the statistics for entire data frame, then get an individual column/row value.  This works as each of the statistics function simply returns a data frame as a result.  Therefore, you can access the resulting statistics just like a regular data frame. 
2. Index a single column/row, and using a statistics function on that particular column/row

Either method will work, but method 2 is typically preferred if you only need a statistic for an individual column/row.  It will run faster, since fewer calculations are completed.

In [6]:
import pandas as pd

iris = pd.read_csv('https://raw.githubusercontent.com/mwaskom/seaborn-data/master/iris.csv')

# Method 1
print(iris.mean()['sepal_length'])

# Method 2
print(iris['sepal_length'].mean())

5.843333333333335
5.843333333333335

## Exercise 5
For this exercise, we are still using the Fisher's Iris flower data set.  We are going to get some statistics on an estimated petal area. Multiply the `petal_width` with the `petal_length` and assign it to a new column called `petal_area`.  Then you are going to use the **return** command to return the mean, minimum, and maximum for the newly created `petal_area` column.  Recall you can return multiple values by separating the values with commas.  Make sure you use the proper order (mean, minimum, maximum).  The `iris` variable in the function is the data frame you need to manipulate.

In [ ]:
import pandas as pd

def petal_area_stats(iris):
    # Type your code here
    
    
    
    
    
    
    
# IGNORE BELOW
# Test Cases
import unittest    
    
class TestCases(unittest.TestCase):  
    def test(self):
        iris = pd.read_csv('https://raw.githubusercontent.com/mwaskom/seaborn-data/master/iris.csv')
        mean, minimum, maximum = petal_area_stats(iris)
        self.assertTrue(round(mean, 6) == 5.794067)
        self.assertTrue(round(minimum, 2) == 0.11)
        self.assertTrue(maximum == 15.87)


if __name__ == '__main__': 
    unittest.main(argv=[''], exit=False)

## Filtering
It is good to know how to filter out certain rows in data frame.  For example, returning to the Iris flower data set, it might be useful to only look at the "versicolor" species.  

First, we use relational operators to make some kind of comparison.  We can use any relational operator that we learned in module 2 (>, <= , !=, etc.).  With the example mentioned above, we want to check if the species column equals `versicolor`, like this `iris['species'] == 'versicolor'`.  Doing this will create a ***series***, which is basically a data frame with a single column.  This series will be comprised of **True** and **False** values on whether the row meets the criteria that was specified.

Once we have a series of **True** and **False** values for each of the rows, we can use square brackets on the original data frame to filter out the rows that are **False**.

We can see an example of this below.  We don't need to make the Series its own variable.  We can simply pass it directly into the square brackets of the data frame.

In [7]:
import pandas as pd

iris = pd.read_csv('https://raw.githubusercontent.com/mwaskom/seaborn-data/master/iris.csv')

filtered_iris = iris[iris['species'] == 'versicolor'] # Here we assign the filtered data frame to new variable

filtered_iris # This just displays the table

    sepal_length  sepal_width  petal_length  petal_width     species
50           7.0          3.2           4.7          1.4  versicolor
51           6.4          3.2           4.5          1.5  versicolor
52           6.9          3.1           4.9          1.5  versicolor
53           5.5          2.3           4.0          1.3  versicolor
54           6.5          2.8           4.6          1.5  versicolor
55           5.7          2.8           4.5          1.3  versicolor
56           6.3          3.3           4.7          1.6  versicolor
57           4.9          2.4           3.3          1.0  versicolor
58           6.6          2.9           4.6          1.3  versicolor
59           5.2          2.7           3.9          1.4  versicolor
60           5.0          2.0           3.5          1.0  versicolor
61           5.9          3.0           4.2          1.5  versicolor
62           6.0          2.2           4.0          1.0  versicolor
63           6.1          2.9           4.7          1.4  versicolor
64           5.6          2.9           3.6          1.3  versicolor
65           6.7          3.1           4.4          1.4  versicolor
66           5.6          3.0           4.5          1.5  versicolor
67           5.8          2.7           4.1          1.0  versicolor
68           6.2          2.2           4.5          1.5  versicolor
69           5.6          2.5           3.9          1.1  versicolor
70           5.9          3.2           4.8          1.8  versicolor
71           6.1          2.8           4.0          1.3  versicolor
72           6.3          2.5           4.9          1.5  versicolor
73           6.1          2.8           4.7          1.2  versicolor
74           6.4          2.9           4.3          1.3  versicolor
75           6.6          3.0           4.4          1.4  versicolor
76           6.8          2.8           4.8          1.4  versicolor
77           6.7          3.0           5.0          1.7  versicolor
78           6.0          2.9           4.5          1.5  versicolor
79           5.7          2.6           3.5          1.0  versicolor
80           5.5          2.4           3.8          1.1  versicolor
81           5.5          2.4           3.7          1.0  versicolor
82           5.8          2.7           3.9          1.2  versicolor
83           6.0          2.7           5.1          1.6  versicolor
84           5.4          3.0           4.5          1.5  versicolor
85           6.0          3.4           4.5          1.6  versicolor
86           6.7          3.1           4.7          1.5  versicolor
87           6.3          2.3           4.4          1.3  versicolor
88           5.6          3.0           4.1          1.3  versicolor
89           5.5          2.5           4.0          1.3  versicolor
90           5.5          2.6           4.4          1.2  versicolor
91           6.1          3.0           4.6          1.4  versicolor
92           5.8          2.6           4.0          1.2  versicolor
93           5.0          2.3           3.3          1.0  versicolor
94           5.6          2.7           4.2          1.3  versicolor
95           5.7          3.0           4.2          1.2  versicolor
96           5.7          2.9           4.2          1.3  versicolor
97           6.2          2.9           4.3          1.3  versicolor
98           5.1          2.5           3.0          1.1  versicolor
99           5.7          2.8           4.1          1.3  versicolor

### Using Multiple Relational Expressions

If you try to combine relational expressions into a single statement, you will need to enclose each of the expressions with parentheses and use `&` instead of `and`.  This is a Pandas requirement.  Alternatively, you can filter the data frame with the two relational expressions on separate lines.

In [8]:
import pandas as pd

iris = pd.read_csv('https://raw.githubusercontent.com/mwaskom/seaborn-data/master/iris.csv')

# Example with multiple relational expressions
iris = iris[(iris['species'] == 'setosa') & (iris['petal_width'] < 0.2)] # Here we overwrite the value of the iris variable

iris # This just displays the table

    sepal_length  sepal_width  petal_length  petal_width species
9            4.9          3.1           1.5          0.1  setosa
12           4.8          3.0           1.4          0.1  setosa
13           4.3          3.0           1.1          0.1  setosa
32           5.2          4.1           1.5          0.1  setosa
37           4.9          3.6           1.4          0.1  setosa

## Exporting Data Frames as CSVs

You can export a Pandas data frame as a CSV (comma-separated values) file.  This is super useful when you are sharing your data with someone else or if you are importing the data into another application.  For this course, we are going to be using Stata, a statistical software program.  You can obtain the data via Python, then export it to Stata for analysis, which is precisely what we will be doing later.

```python
df.to_csv("type_your_csv_name_in_quotes")
```
In the quotation marks, type the name you want for your CSV file.  Additionally, if you want to exclude the names of rows (by default, they are just numbers in numerical order), you can add `index=False` as an argument like so:

```python
df.to_csv("file_name", index=False)
```

## Exercise 6

For this final exercise, you are exporting a data frame as a CSV.  The function `export_big_iris` has the `iris` data frame parameter passed into it.  This is the same Iris flower data set that we have been working with for most of this module.  Filter out all the rows that have a `sepal_width` lower than 3.4.  This means we only want `iris['sepal_width'] > 3.4`. Additionally, we only want to include rows of the **"virginica"** species.

Once you have filtered out all the small `sepal_width` rows, export the data frame as a CSV file named `big.csv`.  Make sure you use the `index=False` argument when you do the CSV export.

In [ ]:
import pandas as pd

def export_big_iris(iris):
    # Type your code here
    
    
    
    
    
    
# IGNORE BELOW
# Test Cases
import unittest    
    
class TestCases(unittest.TestCase):  
    def test(self):
        iris = pd.read_csv('https://raw.githubusercontent.com/mwaskom/seaborn-data/master/iris.csv')
        export_big_iris(iris)
        new_iris = pd.read_csv('big.csv').sort_index(axis=1)
        proper_rows = pd.DataFrame({'sepal_length': [7.2, 7.7, 7.9], 'sepal_width': [3.6, 3.8, 3.8], 'petal_length': [6.1, 6.7, 6.4], 'petal_width': [2.5, 2.2, 2.0], 'species': ['virginica'] * 3}).sort_index(axis=1)
        self.assertTrue(new_iris.equals(proper_rows))


if __name__ == '__main__': 
    unittest.main(argv=[''], exit=False)